
html{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
}


h1{
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{

  background-color: #000000;
}
.navbar{
  font-size: 150%
}

p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:130%;
}

section.full{
  width: 100%;
  margin: 0;
  opacity: 20%;
}

footer{
  color:rgba(172, 172, 172, 0.664);
}



a:link {
  color: rgb(45, 107, 39);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(84, 177, 92);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(99, 187, 121);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(123, 207, 130);
  background-color: transparent;
  text-decoration: none;
}
a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
a:hover {
  background-color: #ddd;
  color: black;
}
    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
  li {
  display: inline;

  }